#MonCompte {
    margin: 5% auto;
    width: 30%;
}

.header{
    padding: 1em;
    background: #152a2f;
    color : white;
    display: flex;
    flex-direction: row;
}

.content{
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.edit:hover {
    cursor: pointer;
}

.identity, .edit {
    width: 20%;
}

#name, #firstname {
    background: none;
    border: none;
    border-bottom: 1px solid #152a2f;
}

.edit svg {
    fill: white;
}

#name:focus, #firstname:focus {
    outline: none;
}

#submitBtn {
    width: 60%;
    border-radius: 25px;
    color: white;
    background: #152a2f;
    &:focus {
        outline: none;
    }
}