<div>
    <div class="background">
        <img src="../../../assets/clement-m-h7vKkZNNThE-unsplash.jpg" alt="background">
    </div>
    <div class="loginContent">
        <div class="loginForm">
            <h3 id="suggestionMessage">Veuillez vous identifier</h3>

                <div class="pseudoDiv">
                    <input id="pseudo" type="text" name="pseudo" placeholder="Pseudo" [(ngModel)]="pseudo">
                </div><br>

                <div class="passwordDiv">
                    <input id="password" type="password" name="password" placeholder="Mot de passe" [(ngModel)]="password">
                </div><br>
                    <input id="loginBtn" type="button" value="Login" (click)="register()">
                <div>{{message}}</div>
        </div>
    </div>
</div>