img{
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -9999;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.loginContent {
    display: flex;
    flex-direction: column;
    margin: 0px auto;
}

#suggestionMessage {
    text-align: center;
}

.loginForm {
    width: 40%;
    margin: 0px auto;
    align-content: center;
    display: flex;
    flex-direction: column;
}

#suggestionMessage {
    font-size: 2em;
}

#pseudo, #password, #loginBtn {
    height: 30px;
    border: none;
    border-radius: 25px;
}

#pseudo, #password {
    width: 95.5%;
    background-color: rgba(255, 255, 255, 0.411);
    border: 3px solid white;
    padding-left: 25px;
}

#loginBtn {
    background-color: #152a30;
    color: white;
    cursor: pointer;
    transition: all ease-in-out .2s;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    user-select: none;
    box-shadow: 0 3px 10px #152a30;
    
    
    &:hover{
        transform: scale(1.1, 1.1);
        box-shadow: 0 5px 10px #152a30;
    }
    
    &:active {
        transform: translateY(-5px);
        box-shadow: 0 5px 10px #152a30;
    }
}

input:focus {
    outline: none;
}