/* You can add global styles to this file, and also import other style files */
html, body {
    width: 100%;
    margin: 0px;
    scroll-behavior: unset;
}
img{
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -9999;
    height: 100%;
    margin: 0px;
    padding: 0px;
}